WebContent/WEB-INF/eventType/predefinedEventTypes/BargeCloseToTerminal.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="BargeCloseToTerminal.xsd"
	targetNamespace="BargeCloseToTerminal.xsd" elementFormDefault="qualified">
	<xs:element name="BargeCloseToTerminal">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="bargeId" type="xs:integer"
					minOccurs="1" maxOccurs="1" />
				<xs:element name="timestamp" type="xs:dateTime" minOccurs="1"
					maxOccurs="1" />
				<xs:element name="nextTerminal" type="xs:string"/>
				<xs:element name="source" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>