WebContent/WEB-INF/eventType/predefinedEventTypes/trace.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="trace">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:integer" name="type"/>
                <xs:element type="xs:integer" name="source"/>
                <xs:element type="xs:dateTime" name="time"/>
                <xs:element name="coordinate">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:double" name="latitude"/>
                            <xs:element type="xs:double" name="longitude"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:integer" name="mileage"/>
                <xs:element type="xs:string" name="heading"/>
                <xs:element type="xs:integer" name="speed"/>
                <xs:element name="addressmatch">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="coordinate">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:double" name="latitude"/>
                                        <xs:element type="xs:double" name="longitude"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="address">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="street"/>
                                        <xs:element type="xs:string" name="city"/>
                                        <xs:element type="xs:string" name="zipcode"/>
                                        <xs:element type="xs:string" name="country"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="xs:double" name="quality"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>